<head>
  <script src="/assets/js/anchor-js/anchor.min.js"></script>
  {%- if site.google_analytics -%}
    <!-- <script type="text/javascript" data-cmp-ab="1" src="https://cdn.consentmanager.net/delivery/autoblocking/b86576aee10b0.js" data-cmp-host="d.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="16"></script> -->
    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-VGVKC0JB5C"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-VGVKC0JB5C');
    </script>
   <!-- End Google Tag -->
  {%- endif -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="/assets/main.css">
  {%- feed_meta -%}
  <script>
    // Add anchors on DOMContentLoaded
    document.addEventListener('DOMContentLoaded', function(event) {
      anchors.add();
    });
  </script>
</head>